{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{book.name}}</h2>
                    <p>{{book.author}}</p>
                    <p>{{book.pub_date}}</p>
                </div>
            {% endfor %}
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
            {% endif %}
            <span>Страница {{ page.number }} из {{ page.paginator.num_pages }}</span>
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
            {% endif %}
    </div>
{% endblock %}